#current-content table {
    border-spacing:0;
}

#current-content td {
}

#current-content ul {
	list-style-type: square;
    list-style-position: outside;
	padding: 0;
}

#current-content .placeholder {
	height: 200px;
}
